@page "/donations"
@using ServerBlazorFC.Data
@using DonationLibrary.Donation
@inject DonationService DonationService

<PageTitle>Donations</PageTitle>

<h1>Donations</h1>

@if (donations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>AccountNo</th>
                <th>Amount</th>
                <th>DonationDate</th>
                <th>DonationType</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var donation in donations)
            {
                <tr>
                    <td>@donation.AccountNo</td>
                    <td>@donation.Amount</td>
                    <td>@donation.Date.ToString("dd MMM yyyy")</td>
                    <td>@donation.PaymentMethodId</td>
                    <td>@donation.Notes</td>
                    <td><a class="btn btn-success btn-sm" href="/updel/@donation.AccountNo/edit">edit</a></td>
                    <td><a class="btn btn-danger btn-sm" href="/updel/@donation.AccountNo/del">del</a></td> 
                </tr>
            }
        </tbody>
    </table>
}
<footer> <p>Author: Fraser Copland</p></footer>
@code {
    List<DonationLibrary.Donation.Donations>? donations;

    protected override async Task OnInitializedAsync()
    {
        donations = await DonationService.GetDonationsAsync();
    }
}
